@import "tailwindcss";
@import "../styles/theme.css";

/* Base utility overrides and custom scrollbar setup */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #090909;
}

::-webkit-scrollbar-thumb {
  background: #262626;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #E50914;
}
